<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codial</title>
</head>
<body>
    <h1>Welcome to Social Media Website </h1>
    <%if(!locals.user){%>
        <h3>Please login to post something😀</h3>
        <%}%>
    <%if(locals.user){%>
        <a href="/users/sign-out">Sign-out</a>
        <%} else {%>
            <a href="/users/sign-up">Sign-Up</a>
            <a href="/users/sign-in">Sign-In</a>
    
            <%}%>
        <div class="container">
    <%if(locals.user){%>
        <section id="form-display">
        <form action="/post/create-post" method="post">
            <textarea name="content"  cols="30" rows="6" placeholder="Tell us About Yourself..."></textarea>
            <button type="submit">Create Post</button>
        </form>
    </section>
    <%}%>
    <section id="post-display">
        <%if(post.length===0){%>
            <h3>There are not any posts on our page yet!!😢😢</h3>
            <%}else{%>
        <h3>All Posts-:</h3>
        <%}%>
        <ul>
        <%-include('_post')-%>
        </ul>
    </section>
    <section id="friends">
        <%if(locals.user){%>
            <h2>All Registered Users-:</h2>
        <%for(user of all_user){%>
            <p><a href="/users/profile/<%=user._id%>"><%=user.name%></a></p>
            <%}%>
        <%}%>
    </section>
</div>
</body>
</html>